There is an example generic HTTP connector config for Twitter

## Use case
I am a developer working on an app that needs to query the Twitter API

## Additional details
A list of all of Twitter's API methods can be found [here](https://developer.twitter.com/en/docs/api-reference-index).

A table detailing their different levels of Authentication can be found [here](https://developer.twitter.com/en/docs/basics/getting-started).

Twitter uses 3 different kinds of authentication for their APIs:
1.) [OAuth 1.0](https://developer.twitter.com/en/docs/basics/authentication/oauth-1-0a)
2.) [OAuth 2.0](https://developer.twitter.com/en/docs/basics/authentication/oauth-2-0)
3.) [Basic authentication](https://developer.twitter.com/en/docs/basics/authentication/basic-auth)

The APIs that offer Basic Authentication, such as Twitter's Enterprise API's, are premium. Because of this, we can only support OAuth 1.0/2.0. Twitter's Enterprise API allows you to use OAuth 1.0/2.0, so anyone who is using Twitter's Enterprise API can be directed to an OAuth authentication method via the docs for this connector.

**TODOS:**
- [x] Create an OAuth 2.0 service for Twitter

## Acceptance criteria
- [ ] There is a generic HTTP connector config available in the [example generic HTTP connector configs](https://github.com/cyberark/secretless-broker/tree/master/examples/generic_connector_configs) for connecting to the Twitter API via Secretless that supports OAuth 1.0 and OAuth 2.0

## Problems with OAuth 1.0a and Secretless

OAuth 1.0a requires 7 different parameters to authenticate:
```
Authorization:  oauth_consumer_key="0685bd9184jfhq22",
                oauth_token="ad180jjd733klru7",
                oauth_signature_method="HMAC-SHA1",
                oauth_signature="wOJIO9A2W5mFwDgiDvZbTSMK%2FPY%3D",
                oauth_timestamp="137131200",
                oauth_nonce="4572616e48616d6d65724c61686176",
                oauth_version="1.0"
```

`consumer_key` - Constant secret
` nonce` - Dynamic, created specifically for request
`signature` - Dynamic, [generated](https://developer.twitter.com/en/docs/basics/authentication/oauth-1-0a/creating-a-signature) from all other parameters
`timestamp` - Dynamic, timestamp of request and will be denied if too old when request is sent
`token` - Constant secret

There are [3 ways](https://oauth.net/core/1.0/#consumer_req_param) to pass these parameters in the HTTP request:
```
1. In the HTTP Authorization header as defined in OAuth HTTP Authorization Scheme.
2. As the HTTP POST request body with a content-type of application/x-www-form-urlencoded.
3. Added to the URLs in the query part (as defined by RFC3986 section 3).
```

### Method 1
Only 2 of the 7 parameters are constant secrets for Secretless to inject, the rest need to be created by the application when making the request. 
The main problem with OAuth 1.0a and Secretless is that Secretless currently replaces the whole `Authorization` line in the header, with no way to "save" the other parameters that are passed.

Example:

Request:
```
http_proxy=localhost:8071 curl -k --request POST \
  --url 'test:4443' \
  --header 'authorization: OAuth oauth_consumer_key="CONSUMER_API_KEY", oauth_nonce="OAUTH_NONCE", oauth_signature="OAUTH_SIGNATURE", oauth_signature_method="HMAC-SHA1", oauth_timestamp="OAUTH_TIMESTAMP", oauth_token="ACCESS_TOKEN", oauth_version="1.0"' \
```

Secretless generic config:
```
...
config:
      headers:
        Authorization: ApiKey test
      forceSSL: true
      authenticateURLsMatching:
        - ^http[s]*
```

Request sent to server:
```
Host: test:4443
User-Agent: curl/7.64.1
Content-Length: 0
Accept: */*
Authorization: ApiKey test
Accept-Encoding: gzip
```

I couldn't find a way to inject the secrets that the request needs for authentication and keep the other parameters at the same time.

### Method 2

Currently modifications to request bodies are [not supported by Secretless](https://github.com/cyberark/secretless-broker/tree/master/internal/plugin/connectors/http/generic#limitations).

### Method 3

This is not currently supported either, but @BradleyBoutcher and @mdodell were looking into adding this feature recently, so this method is TBD

### Notes

- I think the best solution to this, would be to add a feature that allows Secretless to inject secrets into the header, while keeping the other parameters in the authorization line.


> ## Problems with OAuth 1.0a and Secretless
> OAuth 1.0a requires 7 different parameters to authenticate:
> 
> ```
> Authorization:  oauth_consumer_key="0685bd9184jfhq22",
>                 oauth_token="ad180jjd733klru7",
>                 oauth_signature_method="HMAC-SHA1",
>                 oauth_signature="wOJIO9A2W5mFwDgiDvZbTSMK%2FPY%3D",
>                 oauth_timestamp="137131200",
>                 oauth_nonce="4572616e48616d6d65724c61686176",
>                 oauth_version="1.0"
> ```
> 
> `consumer_key` - Constant secret
> ` nonce` - Dynamic, created specifically for request
> `signature` - Dynamic, [generated](https://developer.twitter.com/en/docs/basics/authentication/oauth-1-0a/creating-a-signature) from all other parameters
> `timestamp` - Dynamic, timestamp of request and will be denied if too old when request is sent
> `token` - Constant secret
> 
> There are [3 ways](https://oauth.net/core/1.0/#consumer_req_param) to pass these parameters in the HTTP request:
> 
> ```
> 1. In the HTTP Authorization header as defined in OAuth HTTP Authorization Scheme.
> 2. As the HTTP POST request body with a content-type of application/x-www-form-urlencoded.
> 3. Added to the URLs in the query part (as defined by RFC3986 section 3).
> ```
> 
> ### Method 1
> Only 2 of the 7 parameters are constant secrets for Secretless to inject, the rest need to be created by the application when making the request.
> The main problem with OAuth 1.0a and Secretless is that Secretless currently replaces the whole `Authorization` line in the header, with no way to "save" the other parameters that are passed.
> 
> Example:
> 
> Request:
> 
> ```
> http_proxy=localhost:8071 curl -k --request POST \
>   --url 'test:4443' \
>   --header 'authorization: OAuth oauth_consumer_key="CONSUMER_API_KEY", oauth_nonce="OAUTH_NONCE", oauth_signature="OAUTH_SIGNATURE", oauth_signature_method="HMAC-SHA1", oauth_timestamp="OAUTH_TIMESTAMP", oauth_token="ACCESS_TOKEN", oauth_version="1.0"' \
> ```
> 
> Secretless generic config:
> 
> ```
> ...
> config:
>       headers:
>         Authorization: ApiKey test
>       forceSSL: true
>       authenticateURLsMatching:
>         - ^http[s]*
> ```
> 
> Request sent to server:
> 
> ```
> Host: test:4443
> User-Agent: curl/7.64.1
> Content-Length: 0
> Accept: */*
> Authorization: ApiKey test
> Accept-Encoding: gzip
> ```
> 
> I couldn't find a way to inject the secrets that the request needs for authentication and keep the other parameters at the same time.
> 
> ### Method 2
> Currently modifications to request bodies are [not supported by Secretless](https://github.com/cyberark/secretless-broker/tree/master/internal/plugin/connectors/http/generic#limitations).
> 
> ### Method 3
> This is not currently supported either, but @BradleyBoutcher and @mdodell were looking into adding this feature recently, so this method is TBD
> 
> ### Notes
> * I think the best solution to this, would be to add a feature that allows Secretless to inject secrets into the header, while keeping the other parameters in the authorization line.



> ## Problems with OAuth 1.0a and Secretless
> OAuth 1.0a requires 7 different parameters to authenticate:
> 
> ```
> Authorization:  oauth_consumer_key="0685bd9184jfhq22",
>                 oauth_token="ad180jjd733klru7",
>                 oauth_signature_method="HMAC-SHA1",
>                 oauth_signature="wOJIO9A2W5mFwDgiDvZbTSMK%2FPY%3D",
>                 oauth_timestamp="137131200",
>                 oauth_nonce="4572616e48616d6d65724c61686176",
>                 oauth_version="1.0"
> ```
> 
> `consumer_key` - Constant secret
> ` nonce` - Dynamic, created specifically for request
> `signature` - Dynamic, [generated](https://developer.twitter.com/en/docs/basics/authentication/oauth-1-0a/creating-a-signature) from all other parameters
> `timestamp` - Dynamic, timestamp of request and will be denied if too old when request is sent
> `token` - Constant secret
> 
> There are [3 ways](https://oauth.net/core/1.0/#consumer_req_param) to pass these parameters in the HTTP request:
> 
> ```
> 1. In the HTTP Authorization header as defined in OAuth HTTP Authorization Scheme.
> 2. As the HTTP POST request body with a content-type of application/x-www-form-urlencoded.
> 3. Added to the URLs in the query part (as defined by RFC3986 section 3).
> ```
> 
> ### Method 1
> Only 2 of the 7 parameters are constant secrets for Secretless to inject, the rest need to be created by the application when making the request.
> The main problem with OAuth 1.0a and Secretless is that Secretless currently replaces the whole `Authorization` line in the header, with no way to "save" the other parameters that are passed.
> 
> Example:
> 
> Request:
> 
> ```
> http_proxy=localhost:8071 curl -k --request POST \
>   --url 'test:4443' \
>   --header 'authorization: OAuth oauth_consumer_key="CONSUMER_API_KEY", oauth_nonce="OAUTH_NONCE", oauth_signature="OAUTH_SIGNATURE", oauth_signature_method="HMAC-SHA1", oauth_timestamp="OAUTH_TIMESTAMP", oauth_token="ACCESS_TOKEN", oauth_version="1.0"' \
> ```
> 
> Secretless generic config:
> 
> ```
> ...
> config:
>       headers:
>         Authorization: ApiKey test
>       forceSSL: true
>       authenticateURLsMatching:
>         - ^http[s]*
> ```
> 
> Request sent to server:
> 
> ```
> Host: test:4443
> User-Agent: curl/7.64.1
> Content-Length: 0
> Accept: */*
> Authorization: ApiKey test
> Accept-Encoding: gzip
> ```
> 
> I couldn't find a way to inject the secrets that the request needs for authentication and keep the other parameters at the same time.
> 
> ### Method 2
> Currently modifications to request bodies are [not supported by Secretless](https://github.com/cyberark/secretless-broker/tree/master/internal/plugin/connectors/http/generic#limitations).
> 
> ### Method 3
> This is not currently supported either, but @BradleyBoutcher and @mdodell were looking into adding this feature recently, so this method is TBD

Our pull request currently supports query string parameters. [In my testing on the PR](https://github.com/cyberark/secretless-broker/pull/1285) for this Secretless config, Twitter may need us to support body parameters. A valid CURL request looked something like this:
```
 curl --location --request POST 'https://api.twitter.com/1.1/statuses/update.json?status=Hello%20World' \
--header 'Content-Type: application/x-www-form-urlencoded' \
--data-urlencode 'oauth_consumer_key=<my-consumer-key>' \
--data-urlencode 'oauth_token=<my-token>' \
--data-urlencode 'oauth_signature_method=HMAC-SHA1' \
--data-urlencode 'oauth_timestamp=<time-stamp>' \
--data-urlencode 'oauth_nonce=<randomly-generated-nonce>' \
--data-urlencode 'oauth_version=1.0' \
--data-urlencode 'oauth_signature=<signature>'
```

> 
> ### Notes
> * I think the best solution to this, would be to add a feature that allows Secretless to inject secrets into the header, while keeping the other parameters in the authorization line.



maybe twitter oauth 1.0 is more like the [aws connector](https://github.com/cyberark/secretless-broker/tree/master/internal/plugin/connectors/http/aws) then. we could choose to only support other modes of twitter API authn with the generic connector config - I think that'd be fine. we just need to be clear about that in the README

Useful links:
https://developer.twitter.com/en/docs/basics/authentication/oauth-1-0a/authorizing-a-request
https://developer.twitter.com/en/docs/basics/authentication/oauth-1-0a/creating-a-signature
https://oauth.net/core/1.0a/